.grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pagination a {
    padding: 25px;
}